@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");

body {
  background-color: #fff;
  margin: 0;
}
header {
  background-color: black;
  margin: 0;
  padding: 1rem;
  font-family: "Underdog", cursive;
}
ul {
  list-style-type: none;
}
ul a {
  color: #fff;
  list-style-type: none;
}
.nav {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
p {
  font-family: "Underdog", cursive;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  height: auto;
}
.footer p {
  color: #bf0000;
  font-size: 100%;
}
/*Drop down menu*/

ul {
  list-style: none;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
  float: left;
}
li ul {
  display: none;
}
ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}
ul li a:hover {
  background: #a5a0a0;
  color: black;
}
li:hover > ul {
  display: block;
  position: absolute;
}
li:hover li {
  float: none;
}
li:hover a {
  background: #a5a0a0;
  color: black;
}
li:hover li a:hover {
  background: #383434;
  color: #fff;
}
ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after {
  clear: both;
}

/*Home page*/

.img_1 {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.motto {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 200%;
  color: #bf0000;
  text-shadow: 0 0 3px #ff0000;
}
@media only screen and (max-width: 1000px) {
  .img_1 {
    max-width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  .img_1 {
    max-width: 90%;
  }
}

/*About page*/

.about_main {
  display: flex;
}
.group_img {
  display: block;
  float: left;
  margin-left: 1rem;
  margin-top: 4rem;
  max-width: 100%;
  border: 3px solid black;
}

.about_us {
  float: right;
  font-family: "Underdog", cursive;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-self: center;
}
@media only screen and (max-width: 1200px) {
  .about_main {
    display: flex;
    flex-direction: column;
  }
  .group_img {
    max-width: 90%;
    align-self: center;
    margin-left: 0;
  }
  .about_us {
    align-self: center;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/*CATEGORIES*/
.author_name {
  list-style-type: none;
  margin-left: 1rem;
  font-size: 150%;
}
.author_name a {
  text-decoration-color: #a5a0a0;
  color: black;
  font-family: "Underdog", cursive;
  margin-left: 5rem;
}
.author_name li {
  margin-bottom: 2rem;
}
.author_name a:hover {
  text-decoration-color: black;
}

.letterLinks ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.letterLinks ol a {
  text-decoration-color: #a5a0a0;
  color: black;
  font-family: "Underdog", cursive;
}
.letterLinks ol a:hover {
  text-decoration-color: black;
}

/*Continents*/
.continentNav {
  display: flex;
  flex-direction: row;
}

.continent,
h3 {
  font-family: "Underdog", cursive;
  color: #a5a0a0;
  margin-left: 4rem;
}
.letter {
  font-family: "Nosifer", cursive;
  font-size: 300%;
  margin-left: 4rem;
}

.author_name li a:hover {
  background-color: #a5a0a0;
  padding: 1rem;
}

@media only screen and (max-width: 700px) {
  .author_name a,
  .continent,
  h3,
  .letter {
    margin-left: 1rem;
  }
}

/*Author Page*/
.author {
  display: grid;
  grid-template-areas:
    " . an"
    " fig nat"
    "fig bd"
    " . books";
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;

  margin-left: 12.5rem;
  margin-left: 12.5rem;
}
figcaption {
  font-family: "Underdog", cursive;
}
figure {
  grid-area: fig;
}
.nat {
  grid-area: nat;
}
.an {
  grid-area: an;
}
.bd {
  grid-area: bd;
}
.books {
  grid-area: books;
}
